<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="email" value="pratikshatamadalge@gmail.com"/>
		<add key="password" value="9890046630"/>
		<add key="bookName" value="Monk Who Sold His Ferrari"/>
		<add key="giftMessage" value="Happy Birthday"/>
		<add key="receipientName" value="Pratiksha"/>
		<add key="address" value="Jainapur"/>
		<add key="state" value="Maharashtra"/>
		<add key="city" value="Jaysingpur"/>
		<add key="mobileNo" value="7875680359"/>
		<add key="pincode" value="416101"/>
	</appSettings>
</configuration>